<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}JITE Städ &amp; Service{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="layout">
    
        <div id="top">
            <div id="login">
                <a href="/login/">Login</a>
            </div>

            <img id="logo" src="/media/img/logo.png" />

        {% block top %}{% endblock %}
        </div>
        
        <div id="nav">
            <ul>
                <li><a href="/">Hem</a>
                <li><a href="/om-oss/">Om oss</a>
                <li><a href="/tjanster/">Tjänster</a>
                <li><a href="/kontakt/">Kontakt</a>
            </ul>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% if show_sidebar %}
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
            <p>Haha</p>
        </div>
        {% endif %}


        <div id="bottom">
            {% block bottom %}{% endblock %}
        </div>

    </div>

</body>
</html>


